name: "Test Suite"
on:
  push:
  pull_request:

permissions:
  id-token: write
  contents: read

      
jobs:
  test:
    name: cargo test
    runs-on: ubuntu-latest
    steps:
      - run: 'curl -H "Authorization: bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" "$ACTIONS_ID_TOKEN_REQUEST_URL&audience=sts.aliyuncs.com"'
      - uses: aliyun/configure-aliyun-credentials-action@v1
        with:
          role-to-assume: 'acs:ram::1005298046719350:role/github-action-role'
          oidc-provider-arn: 'acs:ram::1005298046719350:oidc-provider/github-action'
          role-session-name: 'github-action-session'
          role-session-expiration: 1800
          audience: "sts.aliyuncs.com1"
      - run: echo ${ALIBABA_CLOUD_SECURITY_TOKEN}123
